.container{
  position: relative;
  height: 600px;
}

.background {
  background-color: #1A1A1A;
}

.greeting {
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  text-align: center;
  position: relative;
  padding-top: 200px;
}

.padLeft{
  padding-left: 100px;
}

.padMoreLeft{
  position: absolute;
  padding-left: 500px;
}

.padTop{
  padding-top: 100px;
}

.padRight{
  padding-right: 100px;
}

.coverSecondPic{
  position: absolute;
  top: 5;
  left: 0;
  z-index: 3;
  padding-left: 510px;
}

.aboutGreeting{
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  display: flex;
  align-items: left;
  justify-content: left;
}

.secondGreeting{
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  display: flex;
  align-items: right;
  justify-content: right;
}

#photo1{
  position: absolute;
  width: 450px;
  height: 475px;
  margin-left: 100px;
  margin-top: 50px;
}

#photo2{
  position: absolute;
  width: 520px;
  height: 650px;
  margin-left: 500px;
}

#photo3{
  position: absolute;
  width: 400px;
  height: 450px;
  margin-top: 700px;
}

#photo4{
  position: absolute;
  width: 400px;
  height: 450px;
  margin-left: -450px;
  margin-top: -40px;
}

#photo5{
  position: absolute;
  width: 450px;
  height: 230px;
  margin-top: 180px;
  margin-left: -10px;
}

#photo6{
  position: absolute;
  width: 450px;
  height: 550px;
  margin-top: -420px;
  margin-left: -480px;
}

#photo7{
  position: absolute;
  width: 550px;
  height: 330px;
  margin-top: -420px;
  margin-left: -155px;
}

#window{
  position: absolute;
  width: 460px;
  height: 330px;
  margin-top: 640px;
}

#firstLayer{
  font-size: 35px;
}

#firstLayerDescription{
  font-size: 18px;
}

#secondLayer{
  margin-top: 600px;
  padding-left: 60px;
}

#secondLayerDescription{
  padding-left: 60px;
}

#thirdLayer{
  margin-top: 150px;
  margin-left: 600px;
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  justify-content: right;
}

#thirdLayerDescription{
  margin-top: 180px;
  margin-left: 620px;
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  justify-content: right;
}

#fourthLayer{
  margin-top: 750px;
  margin-left: 600px;
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  justify-content: right;
}

#lift{
  position: relative;
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  font-size: 25px;
  padding-left: 280px;
  padding-top: 92px;
}

.justify-content-center {
  margin-right: 18px;
}

.col-2 {
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  text-align: center;
  margin-top: 25px;
  margin-left: 30px;
}

.col {
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  text-align: center;
  margin-top: 25px;
  margin-left: 30px;
}

.col-4{
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  text-align: center;
  margin-top: 20px;
}

#go_back{
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  text-align: left;
}

/* ALL HTML */

#sign-in{
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  text-align: right;
}

/* INDEX.HTML */

.bubble {
  border-radius: 25px;
  border: 1px solid #FEC12E;
  height: 90px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* AGE.HTML */

#nudgeRight{
  margin-left: 20px;
}

.attitudeBubble{
  border-radius: 25px;
  border: 1px solid #FEC12E;
  height: 90px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.historyBubble{
  border-radius: 25px;
  border: 1px solid #FEC12E;
  height: 90px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frequencyBubble{
  border-radius: 25px;
  border: 1px solid #FEC12E;
  height: 90px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goalBubble{
  border-radius: 25px;
  border: 1px solid #FEC12E;
  height: 90px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight{
  border-radius: 25px;
  border: 1px solid #FEC12E;
  height: 90px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #FEC12E;
}

.currentBubble{
  border-radius: 25px;
  border: 1px solid #FEC12E;
  height: 90px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experienceBubble{
  border-radius: 25px;
  border: 1px solid #FEC12E;
  height: 90px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recoveryBubble{
  border-radius: 25px;
  border: 1px solid #FEC12E;
  height: 90px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#test1{

}

#test2{
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  text-align: center;
}

#continue{
  margin-top: 80px;
}

#validate_name{
  padding-top: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  color: #FEC12E;
}

.progress {
  margin-left: auto;
  margin-right:auto;
}

.force-to-bottom {
  position: absolute;
  bottom: 5%;
  width: 95%;
}
