.background {
  background-color: #1A1A1A;
  overflow-y: scroll;
}

.col-4{
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  text-align: center;
  margin-top: 20px;
}

.col {
  padding: 0;
}

.url{
  color: inherit;
  /* text-decoration: none; */
  text-align: center;
}

.url:hover{
  color: #FEC12E;
}

.bullets{
  position: relative;
  list-style-type: none;
  margin-bottom: 11px;
  text-align: right;
  font-size: 1.1em;
}

.pills{
  margin-left: 10px;
  border-radius: 7px;
}

.recommendation_box_text{
  text-align: center;
  font-size: 1.1em;
}

.recommendation_box_number{
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  border: 3px solid #FEC12E;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  box-shadow: 1px 1px 1px #FEC12E;
  /* width: 80px;
  height: 80px; */
  font-weight: bold;
  margin-bottom: 5px;
}

.center-button{
  /* padding-left: 655px; */
}

.banner {
  max-width: 100%;
  max-height: 100%;
}

.banner2 {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.2;
}

.frame {
  position: relative;
}

.fishOil_frame{
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.66),rgba(0,0,0,0.66)), url('../img/careof.jpg');
  background-size: auto 100%;
  height: 35%;
}

.multiVitamin_frame{
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.66),rgba(0,0,0,0.66)), url('../img/careof.jpg');
  background-size: auto 100%;
  height: 35%;
}

.greenTeaExtract_frame{
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.66),rgba(0,0,0,0.66)), url('../img/careof.jpg');
  background-size: auto 100%;
  height: 35%;
}

.bcaa_frame{
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.66),rgba(0,0,0,0.66)), url('../img/careof.jpg');
  background-size: auto 100%;
  height: 32%;
}

.creatine_frame{
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.66),rgba(0,0,0,0.66)), url('../img/careof.jpg');
  background-size: auto 100%;
  height: 33%;
}

.smallImage{
  background-image: linear-gradient(rgba(0,0,0,0.66),rgba(0,0,0,0.66)), url('../img/sun.gif');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 25px;
}

.smallText{
  font-size: 12px;
}

.noPadding {
  padding: 0;
}

.preWorkout_frame{
  /* position: relative; */
  /* background-image: linear-gradient(rgba(0,0,0,0.66),rgba(0,0,0,0.66)), url('../img/careof.jpg');
  background-size: auto 100%;
  height: 35%; */
}

.carnitine_frame{
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.66),rgba(0,0,0,0.66)), url('../img/careof.jpg');
  background-size: auto 100%;
}

.carnitine_list{
  width: 65%;
  margin: 0 auto;
}

.creatine_list1{
  padding-left: 30px;
  width: 100%;
}

.creatine_list2{
  padding-right: 30px;
  width: 100%;
}

.creatine_title{
  margin-top: 20px;
  color: white;
  font-size: 1.5em;
}

.carnitine_title{
  padding-top: 15px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;
  color: white;
}

.greenTeaExtract_title{
  padding-top: 15px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;
  color: white;
}

.greenTeaExtract_reasoning{
  padding-top: 28px;
  width: 72%;
  margin: 0 auto;
  color: white;
}


.carnitine_item{
  color: white;
}

.creatine_item{
  color: white;
}

.multiVitamin{
  color: white;
  font-size: 1.5em;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.fontWhite {
  color: white;
}

.frame_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame_content p {
  color: white;
}

.bcaa_frame_content {
  width: 100%;
}


.bcaa_frame_content p{
  color: white;
}

#bcaa_statements{
  margin-top: 40px;
  text-align: center;
}

#bcaa_reasoning{
  margin: 0 auto;
  width: 60%;
}

.wrapper{
  padding-top: 20px;
  padding-left: 36px;
}

.compartment{
  margin-bottom: 40px;
  padding-top: 20px;
  padding-left: 36px;
}

.statements{
  font-size: 2em;
  font-weight: bold;
}

.multiVitamin_statements{
  text-align: center;
  font-size: 1.2em;
}

.reasoning{
  width: 80%;
}

.wheyProteinReasoning{
  width: 82%;
}

.wheyCompartment{
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 36px;
}

.multiVitamin_reasoning{
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

#sign-in{
  font-family: 'Oswald', sans-serif;
  color: #FEC12E;
  text-align: right;
}

#recommendations{
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #FEC12E;
  word-wrap: break-word;
}

#information{
  position: absolute;
  margin-left: 23%;
  margin-bottom: 12%;
  padding: 0;
  height: 235%;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #FEC12E;

  /* why did I put this here? */
  word-wrap: break-word;

  /* overflow-y: hidden; */

  /* shadow */
  box-shadow: 5px 4px 18px #FEC12E;
}

#fishOil_information{
  position: absolute;
  margin-left: 23%;
  margin-bottom: 12%;
  padding: 0;
  height: 218%;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #FEC12E;

  /* why did I put this here? */
  word-wrap: break-word;

  /* overflow-y: hidden; */

  /* shadow */
  box-shadow: 5px 4px 18px #FEC12E;
}

#multiVitamin_information{
  position: absolute;
  margin-left: 23%;
  margin-bottom: 12%;
  padding: 0;
  height: 210%;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #FEC12E;

  /* why did I put this here? */
  word-wrap: break-word;

  /* overflow-y: hidden; */

  /* shadow */
  box-shadow: 5px 4px 18px #FEC12E;
}

#carnitine_information{
  position: absolute;
  margin-left: 23%;
  margin-bottom: 12%;
  padding: 0;
  height: 4%;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #FEC12E;

  /* why did I put this here? */
  word-wrap: break-word;

  /* overflow-y: hidden; */

  /* shadow */
  box-shadow: 5px 4px 18px #FEC12E;
}

#greenTea_information{
  position: absolute;
  margin-left: 23%;
  margin-bottom: 12%;
  padding: 0;
  height: 4%;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #FEC12E;

  /* why did I put this here? */
  word-wrap: break-word;

  /* overflow-y: hidden; */

  /* shadow */
  box-shadow: 5px 4px 18px #FEC12E;
}

#glutamine_information{
  position: absolute;
  margin-left: 23%;
  margin-bottom: 12%;
  padding: 0;
  height: 4%;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #FEC12E;

  /* why did I put this here? */
  word-wrap: break-word;

  /* overflow-y: hidden; */

  /* shadow */
  box-shadow: 5px 4px 18px #FEC12E;
}

#creatine_information{
  position: absolute;
  margin-left: 23%;
  margin-bottom: 12%;
  padding: 0;
  height: 4%;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #FEC12E;

  /* why did I put this here? */
  word-wrap: break-word;

  /* overflow-y: hidden; */

  /* shadow */
  box-shadow: 5px 4px 18px #FEC12E;
}

#wheyProtein_information{
  position: absolute;
  margin-left: 23%;
  margin-bottom: 12%;
  padding: 0;
  height: 4%;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #FEC12E;

  /* why did I put this here? */
  word-wrap: break-word;

  /* overflow-y: hidden; */

  /* shadow */
  box-shadow: 5px 4px 18px #FEC12E;
}

#preWorkout_information{
  position: absolute;
  margin-left: 23%;
  margin-bottom: 12%;
  padding: 0;
  height: 4%;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #FEC12E;

  /* why did I put this here? */
  word-wrap: break-word;

  /* overflow-y: hidden; */

  /* shadow */
  box-shadow: 5px 4px 18px #FEC12E;
}

#bcaa_information{
  position: absolute;
  margin-left: 23%;
  margin-bottom: 12%;
  padding: 0;
  height: 4%;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #FEC12E;

  /* why did I put this here? */
  word-wrap: break-word;

  /* overflow-y: hidden; */

  /* shadow */
  box-shadow: 5px 4px 18px #FEC12E;
}

#unordered_list{
  width: 225px;
  padding-right: 22%;
  padding-left: 0;
  margin: 0;
}

#result_container{
  padding-top: 32px;
  position: relative;
  margin-bottom: 145px;
}

#button{
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 17px;
  position: fixed;
  bottom: 2%;
  margin-top: 45px;
  /* margin-left: 35%; */

  border-radius: 25px;
  height: 70px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 1px 2px 6px #FEC12E;
  background-color: #FEC12E;
  font-weight: bold;
}

#row1 {
  margin-bottom: 20px;
}
